


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
  
    <title>Document</title>
    <style>
        @page {
            margin: 0;
        }
        .a {
            padding-left: 100px;
        }

        .centered{

            text-align:center;
        }
    </style>
</head>

<body>


    <div id='app'>
        <!-- {{arr}} -->
<div id="result">result </div>
        {{test}}
        <!-- <div class="a" v-for="v in arr">{{v}}</div> -->
    
    <div class="ticket">
<h1 class="centered">ANGALWARE</h1>
        <!-- <img src="./logo.png" alt="Logo"> -->
        <p class="centered">2/35b poonamalee main road 
            <br>kattuppakam
             chennai-600056
<br>6380188237,9514242221
\
<hr style="border: 1px dashed black;">
<table style="width: 100%;">
    <tbody style="width:100%">
        <tr style="width:100%">
            <td style="width:20%">Bill NO :</td>
            <td style="width:5%"> : </td>
            <td style="width:20%">01</td>
            <td style="width:10%"></td>
            <td style="width:20%">Bill : </td>
            <td  style="width:5%"> :</td>
             <td style="width:20%">cash</td>
        </tr>
        <tr style="width:100%">
            <td style="width:20%">Counter:</td>
            <td style="width:5%"> : </td>
            <td style="width:20%">01</td>
            <td style="width:10%"></td>
            <td style="width:20%">Date : </td>
            <td  style="width:5%"> :</td>
             <td style="width:20%">cash</td>
        </tr>

        <tr style="width:100%">
            <td style="width:20%">User :</td>
            <td style="width:5%"> : </td>
            <td style="width:20%">01</td>
            <td style="width:10%"></td>
            <td style="width:20%">Time: </td>
            <td  style="width:5%"> :</td>
             <td style="width:20%">cash</td>
        </tr>
    </tbody>
</table>

<hr style="border: 1px dashed black;">

        <table style="width:100%">
            <thead>
                <tr>
                    <th class="quantity">Q.</th>
                    <th class="description">Description</th>
                    <th class="price">Qty</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(v,index) in arr" :key="'print'+index">
                    <td class="quantity">{{index+1}}</td>
                    <td class="description">{{v.name}}</td>
                    <td class="price">{{v.qty}}</td>
                    <td class="price">{{v.sales_rate}}</td>
                </tr>
            </tbody>
        </table>



        <hr style="border: 1px dashed black;">
        <table style="width: 100%;">
            <tbody style="width:100%">
                <tr style="width:100%">
                    <td style="width: 80%;"></td>

                    <td style="width:20%">Total :</td>
                    <td style="width:5%"> 90 </td>
                </tr>
            </tbody>
        </table>
        
        <hr style="border: 1px dashed black;">
        

        <hr style="border: 1px dashed black;">
        <!-- <table style="width: 100%;">
            <tbody style="width:100%">
                <tr style="width:100%">
                    <td style="width: 80%;"></td>

                    <td style="width:20%">Total :</td>
                    <td style="width:5%"> 90 </td>
                </tr>
            </tbody>
        </table> -->
        
        <hr style="border: 1px dashed black;">
        

        <p class="centered">Thanks for your purchase!
            <br>isat software solutions</p>
    </div>



</div>

</body>


<script>
    const {
        ipcRenderer
    } = require('electron')

    const ipc=require('electron').ipcMain;
    new Vue({
        el: "#app",
        data: {
            arr: [],
            test:'defualt string',
        },
        mounted() {
            let $vm=this;


        ipcRenderer.on('ping', (e, arr) => {
$vm.callback(arr);

            })



ipcRenderer.on("main_to_print", (event, data) => {
   

});




        },
        methods: {

callback(data){
// result.innerHTML="working";
    this.test=data;

        

}

        }
    })
</script>

</html>