*{
font-family:sans-serif;

}
.interInput{
background: beige;
border-radius:0 !important;
width: 100%;
color:black !important;
padding: 5px;
margin:1px;
}
.interplexHeader{

    white-space: nowrap;
}

.interInput:focus{
    outline: none;
}
.inputContainer{
    padding:5px;
}
.xyCenter_{
position: absolute;
top:50%;
left:50%;
width: 100%;
padding:10px;
transform: translate(-50%,-50%);
}
.selectedInvoice{
    outline:4px solid #577dff;
}
.checkContainer{


    height: 81vh;
    overflow: scroll;
}
.productContainer{
    background: grey;
    margin-top: 20px;
    height: 51vh;
    overflow: scroll;
}
.productItems{

    padding: 5px;
    color: white;
    background: darkturquoise;
    margin: 5px;
}

.interList{
    background: blanchedalmond;
    padding: 14px;
    font-weight: 500;
    margin: 25px 0;
    cursor: pointer;
    font-weight: 400;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 13px;
    user-select: none;
}
.rowColor:nth-child(even) {
    background-color: Lightgreen;
}
.rowColor:nth-child(odd) {
    background-color: lightcoral;
}

.rowColor2:nth-child(even) {
    background-color: #295629;
    color: white;
}
.rowColor2:nth-child(odd) {
    background-color: lightcoral;
}

.interListRow thead tr {
    background-color: #33ff5e;
    color: white;
}
.interListRow  th ,
.interListRow  td {

    width: 80px;
}
.interListRow tbody tr:nth-child(even) {
    background-color: #ff6868;
    color: white;
}
.interListRow tbody tr:nth-child(odd) {
}

.interListRow tbody tr:hover {

background-color: #a2afdb !important;}

.pendingCard{

    height: 100px;
    font-weight: 800;
    background: #30204e;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.acceptedOnDeviation{
    margin-right: 10px;
    height: 100px;
    font-weight: 800;
    width: 50%;
    color: white;
    background: #312e3e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.approved{
    margin-right: 10px;
    height: 100px;
    font-weight: 800;
    color: white;
    width: 50%;
    background: #4b4962;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interBtn{
    background: #061f5c !important;
    color:white !important;
    margin:3px; 

}
.interBg{
  background: #061f5c !important;  
}
.interColor{
    color: #061f5c !important;  
  }

  
  .interListRow2 thead tr,
  .interListRow2 thead td{
    background-color: #52a463;
    color: white;

  } 
  .interListRow2 tbody tr:nth-child(even) {
    background-color: #b66c6c;
    color: white;
}
.interListRow2 tbody tr:nth-child(odd) {
    background-color: beige;
    color: black;
   
}

.interListRow2 tbody tr:nth-child(even):hover,
.interListRow2 tbody td:nth-child(even):hover {
    background-color: lightgrey !important;
    color: black !important;
   
}
.interListRow2 tbody tr:nth-child(odd):hover,
.interListRow2 tbody td:nth-child(odd):hover {
    background-color: lightgrey !important;
    color: black !important;
   
}