.interInput{
background: beige;
border-radius:0 !important;
width: 100%;
color:black !important;
padding: 5px;
margin:1px;
}
.interplexHeader{

    white-space: nowrap;
}

.interInput:focus{
    outline: none;
}
.inputContainer{
    padding:5px;
}
.xyCenter_{
position: absolute;
top:50%;
left:50%;
width: 100%;
padding:10px;
transform: translate(-50%,-50%);
}
.interList{
    background: blanchedalmond;
    padding: 5px;
    font-weight: 500;
    margin: 1px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
 
    /*
      Introduced in Internet Explorer 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
 
}